Q1

In [22]:
a = 'aman'

In [23]:
type(a)

str

In [24]:
a =[1,2,3,4,'aman', 'salmani',True, False, 75.32]

In [25]:
type(a)

list

In [26]:
a = 78.46

In [27]:
type(a)

float

In [32]:
a = ("apple", "bannan", "orange")

In [33]:
type(a)

tuple

Q2

In [51]:
var1=''
var2="[1,2,3,'aman', True]"
var3=['ds','ml','java','nlp']
var4=1

In [53]:
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

 Q3

(i)' / ' it is also known as division operator. Division Operators allow you to divide two numbers and return a quotient.

In [55]:
#Example
a =10
b = 2
c =a/b
print(int(c))

5

In [57]:
a = -30
b = 5
print(int(a/b))

-6

(ii) % The % symbol in python is called Modulous Operator. The Modulus operator returns the reminder of a division of one number by another.

In [58]:
#Example
a=19
b=5
c=a%b
print(c)

4

(iii) // double forward slash in python is called Floor Division.  Floor Division  is normal division  operator excepts that it returns largest possible integer.

In [60]:
#Example1
a = 23
b = 2
c = a//b
print(c)

11

In [62]:
#Example2
a=-19
b=7
print(a//b)

-3

(iv) ** this operator is also knows as Exponent operator. The exponentiation ( ** ) operator returns the result of raising the first operand to the power of the second operand.

In [64]:
#example
a = 5
b =3
c = a**b
print(c)

125

Q4

In [88]:
li=[1,2,3,4,5,"aman", "salmani", True, False,89.36]
for i in li :
    print(type(i))

<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
<class 'str'>
<class 'str'>
<class 'bool'>
<class 'bool'>
<class 'float'>

Q6

In [1]:
li=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in li:
    if i%3==0:
        print("yes it is divisible by 3")
    else:
        print("not divisible by 3")

not divisible by 3
not divisible by 3
yes it is divisible by 3
not divisible by 3
not divisible by 3
yes it is divisible by 3
not divisible by 3
not divisible by 3
yes it is divisible by 3
not divisible by 3
not divisible by 3
yes it is divisible by 3
not divisible by 3
not divisible by 3
yes it is divisible by 3
not divisible by 3
not divisible by 3
yes it is divisible by 3
not divisible by 3
not divisible by 3
yes it is divisible by 3
not divisible by 3
not divisible by 3
yes it is divisible by 3
not divisible by 3

Q7

Mutable data types : A mutable data types/objects can be changed after it is created. Example : List, Set etc.
Immutable dat types :An immutable data types/objects can not be changed after it is created. Example : String, tuple etc.

Mutable Example

In [101]:
num=[1,2,3,4,"aman","pwskills"]
num[4]="Salmani"
print(num)

[1, 2, 3, 4, 'Salmani', 'pwskills']

Immutable Example

In [103]:
s ="pwskills"
s[1]=a
print(s)

TypeError: 'str' object does not support item assignment

Q5

In [1]:
A = int(input("Enter a number A: "))
B = int(input("Enter a number B: "))

count = 0
while A % B == 0:
    A = A / B
    count += 1

if count > 0:
    print(f"{B} can divide {count} times into A")
else:
    print(f"{B} cannot divide A")

Enter a number A:  12
Enter a number B:  3

3 can divide 1 times into A

In [11]:
a = int(input("Enter a number A :  "))
b = int(input("Enter a number B :  "))
c = 0
while(a>0): 
    if a>=b:
        a = a-b
        c+=1
    else :
        c = 0
        break
if c:
     print("yes divisible and{C} times".format(c))
esle :
     print("not divisible")

SyntaxError: invalid syntax (3368352729.py, line 13)

In [4]:
a = int(input("Enter a number A :  "))
b = int(input("Enter a number A :  "))
c = 0

while (a>0):
    if a >= b:
        a = a - b
        c += 1
    else:
        c = 0
        break
if c:
    print("Yes Divisible and by {} times ".format(c))
else:
    print("Not Divisible")

Enter a number A :   36
Enter a number A :   3

Yes Divisible and by 12 times